body {
    background-color: #f0e2d1;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    color: #007478;
}

header {
    margin: 125px 0px 0px;
}

header ul {
    justify-content: right;
    margin: 20px 10px;
}

header li {
    padding: 0px 10px;
}

footer ul {
    justify-content: center;
}

aside {
    background-color: #f9f3ec;
    position: absolute;
    top: 0;
    width: 100%;
}

aside ul {
    list-style-type: square;
    display: inline-block;
    padding: 0px 0px 0px 20px;
    margin: 0px;
}

.flex {
    padding-left: 0;
    list-style-type: none;
    display: flex;
}

.center {
    text-align: center;
}