body {
    background-color: #f0e2d1;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    color: #007478;
}

header {
    margin: 125px 0px 0px;
}

header h1 {
    font-size: 20pt;
}

header ul {
    justify-content: right;
    margin: 20px 10px;
}

header li {
    padding: 0px 10px;
}

section {
    display: grid;
    grid-template-rows: 45px repeat(2, 1fr) 45px;
    grid-template-columns: repeat(2,1fr);
    row-gap: 20px;
    padding: 0px 20px 0px;
}

.topBtns {
    grid-column: span 2;
    grid-row: 1;
    justify-content: space-between;
}

.bottomBtns {
    justify-content: right;
    grid-column: 2;
    grid-row: 4;
}

button {
    width: fit-content;
    padding: 0px 15px;
    border: none;
    border-radius: 10px;
    margin: 0px 5px;
    color: white;
}

.newNote, .save {
    background-color: #5394A0;
}

.darkTheme {
    background-color: #6F6A87;
}

.cancel {
    background-color: #D9827C;
}

textarea {
    background-color: #f9f3ec;
    border: thick solid #48a0da;
    resize: vertical;
    outline: none;
    width: inherit;
    font-size: 14pt;
    height: 150px;
    padding: 20px;
    grid-column: span 2;
    grid-row: 2/4;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer ul {
    justify-content: center;
}

aside {
    background-color: #f9f3ec;
    position: absolute;
    top: 0;
    width: 100%;
}

aside ul {
    list-style-type: square;
    display: inline-block;
    padding: 0px 0px 0px 20px;
    margin: 0px;
}

.flex {
    padding-left: 0;
    list-style-type: none;
    display: flex;
}

.center {
    text-align: center;
}

@media screen and (min-width: 600px) {
    aside {
        position: absolute;
        left: 0px;
        width: 20%;
        height: 100%;
    }
    section {
        padding: 0px 20px 0px;
    }
    header {
        margin: 0px;
    }
    footer,header, section {
        margin-left: 20%;
    }
    footer {
        width: 80%;
    }
}