html {
    height: 100%;
}

body {
    background-color: #f0e2d1;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    color: #124F4F;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* Header */
header {
    margin: 125px 0px 0px;
}

header h1 {
    font-size: 20pt;
}

header ul {
    justify-content: right;
    margin: 20px 10px;
}

header li {
    padding: 0px 10px;
}

section {
    display: grid;
    grid-template-rows: 45px repeat(2, 1fr) 45px;
    grid-template-columns: repeat(2,1fr);
    row-gap: 20px;
    padding: 0px 20px 0px;
    margin-bottom: 10px;
}

/* Buttons */
.topBtns {
    grid-column: span 2;
    grid-row: 1;
    justify-content: space-between;
}

.bottomBtns {
    justify-content: right;
    grid-column: 2;
    grid-row: 4;
}

button {
    width: fit-content;
    padding: 0px 15px;
    border: none;
    border-radius: 10px;
    margin: 0px 5px;
    color: white;
}

.newNote, .save {
    background-color: #375F68;
}

.darkTheme {
    background-color: #56536A;
}

.cancel {
    background-color: #9B332C;
}

button:hover {
    background-color: black;
}

button:active {
    background-color: gray;
}

textarea {
    background-color: #f9f3ec;
    border: thick solid #48a0da;
    border-radius: 4px;
    resize: none;
    outline: none;
    width: inherit;
    font-size: 12pt;
    height: 150px;
    padding: 15px;
    grid-column: span 2;
    grid-row: 2/4;
}

/* Footer */
footer {
    margin-top: auto;
}

footer ul {
    margin-bottom: 0;
    justify-content: center;
}

/* Aside */
aside::-webkit-scrollbar {
    background: transparent;
    width: 0px;
}

aside {
    background-color: #f9f3ec;
    position: absolute;
    top: 0;
    height: 120px;
    width: 100%;
    overflow-y: auto;
}

aside ul {
    list-style-type: square;
    display: inline-block;
    padding: 0px 0px 0px 20px;
    margin: 0px 0px 15px;
    font-size: 14pt;
}

aside li:hover {
    color: #ff7700;
}

/* Utility */
.flex {
    padding-left: 0;
    list-style-type: none;
    display: flex;
}

.center {
    text-align: center;
}

/* Javascript Functionality */
.darkThemeBG1 {
    background-color: #0e0700;
}

.darkThemeBG2 {
    background-color: #201408;
}

.textDarkTheme {
    color: #5be5e5;
}

.saveDark, .newNoteDark {
    background-color: #5394A0;
}

.themeDark {
    background-color: #6F6A87;
}

.cancelDark {
    background-color: #D9827C;
}

/* Media Queries */
@media screen and (min-width: 650px) {
    aside {
        position: absolute;
        left: 0px;
        width: 20%;
        height: 100%;
    }
    .center.left {
        text-align: left;
        margin-left: 10%;
    }
    section {
        padding: 0px 20px 0px;
    }
    header {
        margin: 0px;
    }
    footer,header, section {
        margin-left: 20%;
    }
    footer {
        width: 80%;
    }
}